Source: redmine-plugin-tags
Section: ruby
Priority: optional
Uploaders: Daniel Pocock <daniel@pocock.pro>
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper-compat (= 13),
               gem2deb,
               rake
Standards-Version: 3.9.8
Vcs-Git: https://github.com/dpocock/redmine-plugin-tags
Vcs-Browser: https://github.com/dpocock/redmine-plugin-tags
Homepage: https://www.redmine.org/plugins/redmine-plugin-tags
Testsuite: autopkgtest-pkg-ruby
XS-Ruby-Versions: all

Package: redmine-plugin-tags
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ruby | ruby-interpreter,
         ${misc:Depends},
         ${shlibs:Depends},
         redmine,
         ruby-redmineup (>= 1.1.12)
Conflicts: ruby-redmine-crm
Enhances: redmine
Description: Tags plugin for Redmine
 Use one or more Tags on each issue to link all issues related to
 specific themes.
